body {
  background-color:lightgoldenrodyellow;
  color: #B22323;
}
h1 {
  text-align: left;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  position: relative;
  z-index: 2;
}
.hero-image {
  width: 100%;
  display: block;
  margin-top: -45px;
}
.hjartan {
  display: block;
  margin-left: auto;
  margin-right: auto;
}