body {
  background-color:lightgoldenrodyellow;
  color: #B22323;
  margin: 0;
  padding-top: 78px;
}
h1 {
  text-align: left;
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.hero-image {
  width: 100%;
  display: block;
  margin-top: -45px;
}

header {
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgoldenrodyellow;
  color: #B22323;
  padding: 20px;
  z-index: 1000;
  font-family: "Raleway", sans-serif;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.namn {
  font-size: 30px;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #B22323;
  text-decoration: none;
  font-size: 16px;
}
.stjarnor {
  width: 100%;
  height: 400px;

  background-image: url("header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bild-text {
  text-align: center;
  color: #B22323;
  font-family: "Raleway", sans-serif;
  padding-top: 100px;
}
.bild-text h2 {
  font-size: 50px;
  margin: 0;
}
.linkedin-knapp {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;

  background-color: #B22323;
  color: lightgoldenrodyellow;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-decoration: none;

  border-radius: 25px;
  cursor: pointer;
}